@import "../../../variables.modules";

.tictactoe {

    background-color: red;

    #game-board {

        background-color: yellow;

        ol {
            list-style-type: none;
        }

        button {
            width: 10%;
            height: 10%;
        }
    }
}